---
// Import the required modules
import { Image } from "astro:assets";
import PrimaryCTA from "@components/ui/buttons/PrimaryCTA.astro";
// Extract properties from Astro.props
const {
  title,
  subTitle,
  btnExists,
  btnTitle,
  btnURL,
  btnTwoExists,
  btnTwoTitle,
  btnTwoURL,
  single,
  imgOne,
  imgOneAlt,
  imgOneDark,
  imgOneDarkAlt,
  imgTwo,
  imgTwoAlt,
  imgTwoDark,
  imgTwoDarkAlt,
} = Astro.props;
// Define TypeScript interface for the properties
interface Props {
  title: string;
  subTitle: string;
  btnExists?: boolean;
  btnTitle?: string;
  btnURL?: string;
  btnTwoExists?: boolean;
  btnTwoTitle?: string;
  btnTwoURL?: string;
  single?: boolean;
  imgOne?: any;
  imgOneAlt?: any;
  imgOneDark?: any;
  imgOneDarkAlt?: any;
  imgTwo?: any;
  imgTwoAlt?: any;
  imgTwoDark?: any;
  imgTwoDarkAlt?: any;
}
---
<!-- Root section of the component -->
<section
  class="mx-auto max-w-[85rem] items-center gap-16 px-4 py-10 sm:px-6 lg:grid lg:grid-cols-2 lg:px-8 lg:py-14 2xl:max-w-full"
>
  <div>
    <!-- Title of the section -->
    <h2
      class="mb-4 text-balance text-4xl font-extrabold tracking-tight text-neutral-800 dark:text-neutral-200"
    >
      <Fragment set:html={title} />
    </h2>
    <!-- Subtitle of the section -->
    <p
      class="mb-4 max-w-prose text-pretty font-normal text-neutral-600 dark:text-neutral-400 sm:text-lg"
    >
      <Fragment set:html={subTitle} />
    </p>
    <!-- Conditional rendering of the Primary Call-To-Action button if 'btnExists' is true -->
    <div class="flex flex-wrap gap-4 flex-row justify-start mb-8">
      {btnExists && <PrimaryCTA title={btnTitle} url={btnURL} />}
      {btnTwoExists && <PrimaryCTA title={btnTwoTitle} url={btnTwoURL} />} 
    </div>
  </div>
  <!-- Conditionally render one or two images based on 'single' property -->
  {
    single ? (
      <div class="mt-8" data-aos="fade-left" data-aos-delay={500}>
        <!-- Single image -->
        <Image
          class="w-full rounded-lg"
          src={imgOne}
          alt={imgOneAlt}
        />

        <!-- Single image for dark theme -->
        {
          imgOneDark &&
            <Image
              class={`w-full rounded-lg hidden dark:block`}
              src={imgOneDark}
              alt={imgOneDarkAlt}
            />
        }
      </div>
    ) : (
      <div class="h-full w-full flex flex-col gap-8 justify-around items-center" data-aos="fade-left" data-aos-delay={500}>
        <!-- First image in a two-image layout -->
        <Image
          class={`w-2/3 dark:hidden`}
          src={imgOne}
          alt={imgOneAlt}
          draggable={"false"}
        />
        <!-- Second image in a two-image layout -->
        <Image
          class={`w-2/3 dark:hidden`}
          src={imgTwo}
          alt={imgTwoAlt}
          draggable={"false"}
        />

        <!-- First image for dark theme in a two-image layout -->
        {
          imgOneDark &&
            <Image
              class={`w-2/3 hidden dark:block`}
              src={imgOneDark}
              alt={imgOneDarkAlt}
              draggable={"false"}
            />
        }
        <!-- Second image for dark theme in a two-image layout -->
        {
          imgTwoDark &&
            <Image
              class={`w-2/3 hidden dark:block`}
              src={imgTwoDark}
              alt={imgTwoDarkAlt}
              draggable={"false"}
            />
        }
      </div>
    )
  }
</section>
