---
import MainLayout from "@/layouts/MainLayout.astro";
import Btn404 from "@components/ui/buttons/Btn404.astro";
import { SITE } from "@data/constants";

type TranslationKeys = "en";
type Translations = {
  [key in TranslationKeys]: {
    pageTitle: string;
    subTitle: string;
    content: string;
    btnTitle: string;
  };
};

const defaultLang: TranslationKeys = "en";
const translations: Translations = {
  en: {
    pageTitle: `Server Error | ${SITE.title}`,
    subTitle: "Turbulence Detected",
    content:
      "Our systems hit a patch of rough air. The crew's on it, and we'll be cruising smoothly again soon. In the meantime, head back and enjoy the view.",
    btnTitle: "Back to Home",
  },
};

const urlPath = Astro.url.pathname;
const langCodeMatch = urlPath.match(/^\/(en|fr)\//);
const lang: TranslationKeys = langCodeMatch
  ? (langCodeMatch[1] as TranslationKeys)
  : defaultLang;

const { pageTitle, subTitle, content, btnTitle } = translations[lang];
---

<MainLayout title={pageTitle}>
  <section class="grid h-svh place-content-center">
    <div class="mx-auto max-w-(--breakpoint-xl) px-4 py-8 lg:px-6 lg:py-16">
      <div class="mx-auto max-w-(--breakpoint-sm) text-center">
        <h1
          class="text-dark text-picton-blue-500 dark:text-picton-blue-400 mb-4 text-7xl font-extrabold lg:text-9xl"
        >
          500
        </h1>
        <p
          id="subtitle"
          class="mb-4 text-3xl font-bold tracking-tight text-balance text-neutral-700 md:text-4xl dark:text-neutral-300"
        >
          {subTitle}
        </p>
        <p
          id="content"
          class="mb-4 text-lg text-pretty text-neutral-600 dark:text-neutral-400"
        >
          {content}
        </p>
        <Btn404 title={btnTitle} id="go-back" />
      </div>
    </div>
  </section>
</MainLayout>

<script>
  const goBackButton = document.getElementById("go-back");
  if (goBackButton) {
    goBackButton.addEventListener("click", () => {
      history.back();
    });
  }
</script>
