---
import { SITE } from "@data/constants";
import MainLayout from "@/layouts/MainLayout.astro";
import FinancingComponent from "@/components/sections/FinancingComponent.astro";
import CTA from "@/components/sections/misc/CTA.astro";
import MainSection from "@/components/ui/blocks/MainSection.astro";
import RightSection from "@/components/ui/blocks/RightSection.astro";
import PrimaryCTA from "@/components/ui/buttons/PrimaryCTA.astro";
import StratusFinancingComponent from "@/components/sections/partners/StratusFinancingComponent.astro";

import blueskiesover from "src/assets/images/blue-skies-over-auburn.webp";
import stratusLogo from "src/assets/images/Partner Stratus Tagline Color CMYK 300 Outline.png";
import srtatusLogoWhite from "/src/assets/images/Partner Stratus Tagline White CMYK 300 Outline.png"
import flightFinancingLogo from "src/assets/images/parner-flight-training-finance-logo.webp";
import flightFinancingLogoWhite from "src/assets/images/partner-flight-training-finance-logo-white-blue-skies-alabama.webp";

const pageTitle: string = `Financing Options | ${SITE.title}`;
const metaDescription =
  "Explore financing options for your flight training at Blue Skies Above. We offer various solutions to make your aviation dreams a reality.";
const ogTitle = "Financing Options | Blue Skies Above Flight School";

const ctaDiscovery = {
  isRightSection: true,
  title: "Fly now with Blue Skies Above",
  subTitle: "Schedule a Discovery Flight and explore the clouds!",
  single: true,
  img: blueskiesover,
  imgAlt: "Flight training syllabus materials",

  imgOne: blueskiesover,
  imgOneAlt: "Flight Training Finance brochure with pen",
  alt: "Flight training syllabus materials",
  btnExists: true,
  btnTitle: "Get Started",
  btnURL: "/discovery-flights",
};
---

<MainLayout
  title={pageTitle}
  customDescription={metaDescription}
  customOgTitle={ogTitle}
  structuredData={{
    "@context": "https://schema.org",
    "@type": "WebPage",
    "@id": "",
    url: "",
    name: "About Blue Skies Above",
    description: metaDescription,
    isPartOf: {
      "@type": "WebSite",
      url: "",
      name: SITE.title,
      description: metaDescription,
    },
    inLanguage: "en-US",
  }}
>
  <MainSection
    title="Financing Your Flight Training"
    subTitle="Flight training should be about achieving your goals, not stressing over finances. That’s why Blue Skies Above offers accessible financing through Stratus Financial and Flight Training Finance, alongside scholarships and flexible payment plans, so nothing stands between you and your dreams."
    btnExists={true}
    btnTitle="Contact Us"
    btnURL="/contact"
  />

  <RightSection
    title="Flexible Financing That Fits Your Future"
    subTitle="We've partnered with Stratus Financial and Flight Training Finance to provide personalized payment plans, competitive terms, and a smooth, supportive application process. Whether you're just beginning or working toward advanced ratings, our financing options are designed to adapt to your unique goals and budget. Our advisors will guide you through every step, from exploring scholarships to using the Yellow Sheet calculator tool to preview your monthly payments.\n\nDon't let money hold you back from reaching new heights, apply today and take the first step toward your aviation career with clarity and confidence."
    single={false}
    imgOne={stratusLogo}
    imgOneAlt="Stratus Financial logo"
    imgOneDark={srtatusLogoWhite}
    imgOneDarkAlt="Stratus Financial logo"
    imgTwo={flightFinancingLogo}
    imgTwoAlt="Flight Training Finance logo"
    imgTwoDark={flightFinancingLogoWhite}
    imgTwoDarkAlt="Flight Training Finance logo"
    btnExists={true}
    btnTitle="Stratus Financing"
    btnURL="#stratus-financing"
    btnTwoExists={true}
    btnTwoTitle="Flight Training Finance"
    btnTwoURL="#flight-training-finance"
  />

  <div id="stratus-financing"></div>
  <StratusFinancingComponent />

  <div id="flight-training-finance"></div>
  <FinancingComponent />

  <CTA content={ctaDiscovery} />
</MainLayout>
