---
import MainLayout from "@/layouts/MainLayout.astro";
import { SITE } from "@data/constants";
import Header from "@/components/Header.astro";
import HeaderAlt from "@components/HeaderAlt.astro";
import headerImg from "../assets/images/blue-skies-above-clouds-instrument-cfii-training.webp";
import FAQ from "@/components/sections/misc/FAQ.astro";
import faqs from "@data/faqs-why-become-a-pilot.json";
import CTA from "@/components/sections/misc/CTA.astro";

const pageTitle: string = `Why become a pilot | ${SITE.title}`;
const metaDescription = "With a global pilot shortage, there's never been a better time to fly. Learn why becoming a pilot is a great career choice at Blue Skies Above Flight School.";
const ogTitle = "Why become a pilot | Blue Skies Above Flight School";

const cta = {
    isRightSection: true,
    title: "Ready to Take the Controls?",
    subTitle: "Book a Discovery Flight and experience the thrill of flying firsthand. You'll take the controls with an expert instructor and see the world from a whole new perspective.",
    single: true,
    imgOne: headerImg,
    imgOneAlt: "Flight training syllabus materials",
    imgTwo: headerImg,
    imgTwoAlt: "Instructor with student at planning table",
    btnExists: true,
    btnTitle: "Book Now",
    btnURL: "/discovery-flight",
};

const videoWhyBecomePilot = {
    title: "Why I chose aviation as a career",
    description: "Learn what inspired Kate Roberts to pursue a career in aviation, and the passion that drives her journey. Discover how her experiences shaped her path and why she chose to turn her love for flying into a lifelong profession.",
}
---

<MainLayout 
    title={pageTitle}
    customDescription={metaDescription}
    customOgTitle={ogTitle}
    structuredData={{
        "@context": "https://schema.org",
        "@type": "WebPage",
        "@id": "",
        url: "",
        name: "About Blue Skies Above",
        description: metaDescription,
        isPartOf: {
        "@type": "WebSite",
        url: "",
        name: SITE.title,
        description: metaDescription,
        },
        inLanguage: "en-US",
    }}
> 
    <HeaderAlt />
    <!-- Add Video -->
    <div>
        <div class="mx-auto flex gap-10 text-picton-blue-500 py-10 max-w-7xl px-6 lg:px-8 items-center lg:flex-row flex-col w-full">
            <div class="lg:flex-1 flex flex-col gap-5 text-center lg:text-left">
            <h3 class="font-bold text-3xl lg:text-5xl">{videoWhyBecomePilot.title}</h3>
            <h4 class="lg:text-xl text-black">{videoWhyBecomePilot.description}</h4>
            </div>
            <div class="lg:flex-1 lg:aspect-w-full lg:aspect-h-full h-full lg:h-60">
                <iframe src="https://tube.rvere.com/embed?v=CYIcdKHQAUw" class="w-full h-full rounded-xl" title="Why I Chose Aviation as a Career" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="">
            </iframe>
            </div>
        </div>
    </div>
    <!-- Add CTA -->
    <!-- Add Why -->
    <!-- Add courses -->
    <FAQ title="Frequently<br>asked questions" faqs={faqs} />
    <CTA content={cta} />
</MainLayout>