---
import { StratusFinancingPage } from "../data_files/pages/stratus-financing.js";

import { SITE } from "@data/constants";
import MainLayout from "@/layouts/MainLayout.astro";
import CTA from "@/components/sections/misc/CTA.astro";
import MainSection from "@/components/ui/blocks/MainSection.astro";
import RightSection from "@/components/ui/blocks/RightSection.astro";
import FAQ from "@/components/sections/misc/FAQ.astro";
import PrimaryCTA from "@/components/ui/buttons/PrimaryCTA.astro";

import blueskiesover from "src/assets/images/blue-skies-above-student-pilot-passing-cfi-checkride.webp";
import imgRight from "../assets/images/blue-skies-pair-of-cessnas-7a3-lanett-municipal-airport.webp";
import imgRight2 from "../assets/images/blue-skies-cessna-in-airport.webp";

import stratusLogo from "src/assets/images/Partner Stratus Tagline Color CMYK 300 Outline.png";
import blueSkiesLogo from "src/images/blue-skies-logo-black-600 copy.webp";

import { faqData as faqs } from "@/data_files/stratus-faq.js";
import StratusFinancingComponent from "@/components/sections/financing/StratusFinancingComponent.astro";

const pageTitle: string = `${StratusFinancingPage.pageTitle} | ${SITE.title}`;
const metaDescription = `${StratusFinancingPage.pageDescription}`;
const ogTitle = "Stratus Financial | Blue Skies Above Flight School";

const ctaDiscovery = {
  isRightSection: false,
  title: "Fly now with Blue Skies Above",
  subTitle: "Schedule a Discovery Flight and explore the clouds!",
  single: true,
  img: blueskiesover,
  imgAlt: "Flight training syllabus materials",
  btnExists: true,
  btnTitle: "Get Started",
  btnURL: "/discovery-flights",
};

const ctaStratus = {
  isRightSection: false,
  title: "Ready to become a Pilot?",
  subTitle:
    "Contact us today to learn more about our financing options and start your journey to the skies!",
  single: true,
  img: blueskiesover,
  imgAlt: "Flight training syllabus materials",
  btnExists: true,
  btnTitle: "Contact Us",
  btnURL: "/contact",
};
---

<MainLayout
  title={pageTitle}
  customDescription={metaDescription}
  customOgTitle={ogTitle}
  structuredData={{
    "@context": "https://schema.org",
    "@type": "WebPage",
    "@id": "",
    url: "",
    name: "About Blue Skies Above",
    description: metaDescription,
    isPartOf: {
      "@type": "WebSite",
      url: "",
      name: SITE.title,
      description: metaDescription,
    },
    inLanguage: "en-US",
  }}
>
  <MainSection
    title="Financing Your Flight Training with Stratus Financial"
    subTitle="Flight training should be about achieving your goals, not stressing over finances. That’s why Blue Skies Above offers accessible financing through Flight Training Finance, alongside scholarships and flexible payment plans — so nothing stands between you and your dreams."
    btnExists={true}
    btnTitle="Contact Us"
    btnURL="/contact"
  />

  <StratusFinancingComponent />

  <RightSection
    title="Stratus Financing: Your Aviation Dreams Start Here"
    subTitle={`<div class="py-4 flex flex-col gap-4 text-neutral-800 dark:text-neutral-200">Stratus Financial was founded by FAA Certificated Flight and Ground Instructors passionate about helping others achieve their aviation dreams. 
With Stratus, the sky is no longer the limit.

You’re not just a number, and it shows with Stratus. We look beyond the typical FICO scores and see you as a whole aviator, setting you up for success before you even apply.
<ul class="list-disc list-inside py-2 flex flex-col gap-2 "> 
<h3>We offer exceptional lending packages, including: </h3>
        <li> The best rates available to take you from zero to hero!</li>
        <li> Full financing for your entire flight training and more</li>
        <li> Affordable payment options, including 12-month deferment while you complete training and secure a job</li>
        <li> Pay off your loan any time with no penalties</li>
        <li> The best rates available to take you from zero to hero!</li>
</ul>

Stratus also supports your career with resources like counseling from instructors, resume reviews, and AMA calls with airline pilots. 

Don’t let finances hold you back from the cockpit.  </div>`}
    single={false}
    imgOne={blueSkiesLogo}
    imgOneAlt="Stratus Financial brochure with pen"
    imgTwo={stratusLogo}
    imgTwoAlt="Smiling student reviewing Stratus financing options"
    btnExists={false}
    btnTitle="Apply for Stratus Financing"
    btnURL="/stratus-financing"
  />
  <div
    class="mx-auto flex flex-col flex-wrap justify-center gap-4 px-4 pb-10 sm:px-6 lg:flex-row lg:justify-start lg:px-8"
  >
    <PrimaryCTA
      title="Loan option examples"
      url="/docs/Loan Option Payment Computation 202508 Blue Skies Above.pdf"
      blank={true}
    />
    <PrimaryCTA
      title="Loan documents checklist"
      url="/docs/Stratus Financial Loan Documents Checklist Rev 0122.docx"
      blank={true}
    />
    <PrimaryCTA
      title="Enrollment confirmation form"
      url="/docs/School Enrollment Confirmation Form_Blue Skies Above.pdf"
      blank={true}
    />
  </div>

  <FAQ title="Frequently<br />asked questions" faqs={faqs} />

  <CTA content={ctaStratus} />
</MainLayout>
