---
import imgCourses from "../assets/images/blue-skies-airliner-cockpit.webp";
import PrimaryCTA from "./ui/buttons/PrimaryCTA.astro";
---

<div class="mx-auto my-32 px-6 sm:my-40 lg:px-8">
  <div class="flex flex-col items-start justify-around gap-5 md:flex-row">
    <div class="mx-auto max-w-2xl lg:mx-0">
      <h2
        class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl dark:text-white"
      >
        Our Courses
      </h2>
      <p class="mt-6 text-lg leading-8 text-gray-600 dark:text-white">
        Understanding that each student pilot is unique, our tailored approach
        ensures personalized guidance throughout your training. From your
        initial flight with a CFI to advanced training in instrument and
        commercial, we're committed to your success.
      </p>
      <p class="mt-6 text-lg leading-8 text-gray-600 dark:text-white">
        To become a pilot, you must undergo training which involves flight time
        where you'll learn how to fly the plane and execute manuevers. You'll
        also need to complete ground training where you'll study weather,
        regulations, aerodynamics and more. Pilots first start out with their
        private pilot certificate and then move on to more advanced ratings and
        certifications depending on your goals.
      </p>
      <p class="my-6 text-lg leading-8 text-gray-600 dark:text-white">
        After completing training, you'll need to complete your exams to become
        a certificated pilot. There are three main exams you'll need to
        satisfactorily complete: The medical exam, the written test, and the
        practical exam. When you fly at Blue Skies Above, you'll get one on one
        mentorship with one of our CFIs (certified flight instructor) that will
        guide you through every step of the way. Start today and let's start
        flying!
      </p>
    </div>
    <div class="flex flex-col items-center justify-between gap-5">
      <img
        alt="back of pilot flying"
        class="h-full w-full rounded-2xl object-cover object-center"
        src={imgCourses.src}
      />
      <div class="flex items-center justify-center">
        <PrimaryCTA
          title="Get Started"
          url="/enroll-at-blue-skies"
          noArrow={true}
        />
      </div>
    </div>
  </div>

  <dl
    class="mx-auto mt-16 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 text-base leading-7 sm:grid-cols-2 lg:mx-0 lg:max-w-none lg:grid-cols-3"
  >
    <div>
      <dt class="font-semibold text-gray-900 dark:text-white">
        Private Pilot Certificate
      </dt>
      <dd class="mt-1 text-gray-600 dark:text-white">
        All pilot get their private pilot certificate as their first
        certificate. A private pilot certificate allows you to be pilot in
        command of an aircraft and fly passengers. Learn more about our initial
        Private Pilot Instruction.
      </dd>
      <div class="mt-6">
        <PrimaryCTA
          title="Private Pilot"
          url="/flight-training-programs/private-pilot-certificate-ppl"
          noArrow={true}
        />
      </div>
    </div>
    <div>
      <dt class="font-semibold text-gray-900 dark:text-white">
        Instrument Rating
      </dt>
      <dd class="mt-1 text-gray-600 dark:text-white">
        Once you have your private license, the next step is to get your
        Instrument Rating. An instrument rating gives you the skills needed to
        fly in less than ideal weather conditions. Check out what that rating
        means here.
      </dd>
      <div class="mt-6">
        <PrimaryCTA
          title="Instrument Rating"
          url="/flight-training-programs/instrument-rating-ifr"
          noArrow={true}
        />
      </div>
    </div>
    <div>
      <dt class="font-semibold text-gray-900 dark:text-white">
        Commercial Pilot Certificate
      </dt>
      <dd class="mt-1 text-gray-600 dark:text-white">
        Interested in a career in aviation? Look no further than our Commercial
        Pilot. Holding a commercial pilot certificate allows for you to fly for
        compensation and hire.
      </dd>
      <div class="mt-6 lg:mt-[1.5rem]">
        <PrimaryCTA
          title="Commercial Pilot"
          url="/flight-training-programs/commercial-pilot-certificate-cpl"
          noArrow={true}
        />
      </div>
    </div>
    <div>
      <dt class="font-semibold text-gray-900 dark:text-white">CFI</dt>
      <dd class="mt-1 text-gray-600 dark:text-white">
        Now that you're a skilled and proficient pilot, teach the next
        generation of pilots and gain experience. Learn more about our Certified
        Flight Instructor (CFI) course here.
      </dd>
      <div class="mt-6">
        <PrimaryCTA
          title="CFI Training"
          url="/flight-training-programs/certified-flight-instructor-cfi"
          noArrow={true}
        />
      </div>
    </div>
    <div>
      <dt class="font-semibold text-gray-900 dark:text-white">CFII</dt>
      <dd class="mt-1 text-gray-600 dark:text-white">
        Guiding others to obtain their Instrument Panel Rating is a challenge,
        but a rewarding one at that. Become CFII certified with Blue Skies
        Above.
      </dd>
      <div class="mt-6 lg:mt-[3.2rem]">
        <PrimaryCTA
          title="CFII Training"
          url="/flight-training-programs/certified-flight-instructor-instrument-cfii"
          noArrow={true}
        />
      </div>
    </div>
  </dl>
</div>
