---
const { data } = Astro.props;
---

<div class="py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-4xl text-center">
      <h2 class="text-base leading-7 font-semibold text-sky-400">Pricing</h2>
      <p
        class="mt-2 text-4xl font-bold tracking-tight text-gray-900 sm:text-5xl dark:text-white"
      >
        Learn More About Our Training Packages
      </p>
    </div>
    <div
      class="isolate mx-auto mt-10 flex max-w-md flex-col items-center gap-8 md:max-w-2xl lg:max-w-4xl xl:mx-0 xl:max-w-none"
    >
      <div
        class="group flex flex-col justify-center rounded-3xl bg-white p-5 duration-100 lg:w-[700px] lg:flex-row lg:gap-10 dark:bg-neutral-700 dark:text-gray-200"
      >
        <div class="lg:w-1/2">
          <h3
            id="tier-ppl-certificate"
            class="text-lg leading-8 font-semibold text-sky-400 duration-100"
          >
            {data.title}
          </h3>
          <p class="mt-4 text-sm leading-6 text-gray-600 dark:text-gray-200">
            {data.pricing.subTitle}
          </p>
          <p class="mt-4 text-sm leading-6 text-gray-600 dark:text-gray-200">
            *{data.pricing.duration} to complete (approximately)
          </p>
          <p class="mt-4 flex items-baseline gap-x-1">
            <span
              class="text-4xl font-bold tracking-tight text-gray-900 dark:text-gray-200"
            >
              ${data.pricing.fullPrice}
            </span>
          </p>
          {
            data.pricing.monthlyPrice && (
              <div>
                <p class="mt-2">or</p>
                <p class="mt-4 flex items-baseline gap-x-1">As low as</p>
                <p class="flex items-baseline gap-x-1">
                  <>
                    <span class="text-4xl font-bold tracking-tight text-gray-900 dark:text-gray-200">
                      ${data.pricing.monthlyPrice}
                    </span>
                    <span>/month</span>
                  </>
                </p>
                <p class="text-sm">
                  with
                  <a href="#" class="inline hover:underline">
                    Flight Training Financing
                  </a>
                </p>
              </div>
            )
          }

          <a
            href="#"
            aria-describedby="tier-ppl-certificate"
            class="mt-6 block rounded-md bg-sky-400 px-3 py-2 text-center text-sm leading-6 font-semibold text-white duration-200 group-hover:text-white hover:scale-105 focus-visible:outline focus-visible:outline-offset-2 focus-visible:outline-sky-400"
          >
            Book Now
          </a>
        </div>
        <div class="lg:w-1/2">
          <ul
            role="list"
            class="mt-8 space-y-3 text-sm leading-6 text-gray-600 dark:text-gray-200"
          >
            {
              data.pricing.details.map((detail: String) => (
                <li class="flex gap-x-3">
                  <svg
                    class="h-6 w-5 flex-none text-sky-400"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    aria-hidden="true"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                      clip-rule="evenodd"
                    />
                  </svg>
                  {detail}
                </li>
              ))
            }
          </ul>
          <p class="pt-10 text-gray-500 italic dark:text-gray-200">
            Note: {data.pricing.note}
          </p>
        </div>
      </div>

      <a
        href="/financing"
        class="font-bold text-sky-400 uppercase hover:underline"
      >
        See financing options
      </a>
    </div>
  </div>
  <div
    class="mx-auto flex max-w-xl flex-col items-center px-5 pt-6 text-center dark:text-white"
  >
    <span>
      You can complete your training and pay by the hour instead of through a
      package. To see our hourly rates, please
      <a href="#" class="text-sky-600 hover:underline dark:text-sky-400">
        click here
      </a>
      .
    </span>
  </div>
</div>
