---
// Import necessary modules and utilities
import { Image } from "astro:assets";
import Icon from "@components/ui/icons/Icon.astro";
import type { CollectionEntry } from "astro:content";

const { program, programLocale = "" } = Astro.props;

interface Props {
  program: CollectionEntry<"trainingPrograms">;
  programLocale?: string;
}

// Define classes to be used with the Image component
const imageClass =
  "absolute inset-0 h-full w-full object-cover object-center transition duration-[600ms] ease-[cubic-bezier(0.45,0,0.55,1)] group-hover:scale-110";
---

<!-- A clickable card that leads to the details of the program-->
<a
  href={programLocale && programLocale !== "en"
    ? `/${programLocale}/flight-training-programs/${program.id.replace(/^fr\//, "")}/`
    : `/flight-training-programs/${program.id.replace(/^en\//, "")}/`}
  data-astro-prefetch
  class="group relative flex h-48 items-end overflow-hidden rounded-xl shadow-lg ring-zinc-500 outline-hidden focus-visible:ring-3 md:h-80 dark:ring-zinc-200 dark:focus:outline-hidden"
>
  <!-- The program's main image -->
  <Image
    src={program.data.main.imgCard}
    alt={program.data.main.imgAlt}
    draggable={"false"}
    class={imageClass}
    format={"avif"}
    widths={[240, 540, 720, 1080, 1440, 1980]}
    sizes={`(max-width: 240px) 240px, (max-width: 540px) 540px, (max-width: 720px) 720px, (max-width: 1080px) 1080px, (max-width: 1440px) 1440px, 1920px`}
  />
  <!-- An overlay gradient that sits on top of the program image-->
  <div
    class="pointer-events-none absolute inset-0 bg-linear-to-t from-neutral-800 via-transparent to-transparent opacity-50"
  >
  </div>
  <!-- The program's subtitle and the anchor SVG icon-->
  <span
    class="relative mb-3 ml-4 inline-block text-sm font-bold text-neutral-50 transition duration-[600ms] ease-[cubic-bezier(0.45,0,0.55,1)] group-hover:scale-110 md:ml-5 md:text-lg"
    >{program.data.title} <Icon name="openInNew" />
  </span>
</a>
