---
// Importing necessary components
import Meta from "@components/Meta.astro";
import Navbar from "@components/sections/navbar&footer/Navbar.astro";
import FooterSection from "@components/sections/navbar&footer/FooterSection.astro";
import { SITE } from "@data/constants";
import "@styles/global.css";
import ChatWidget from "@/components/forms/ChatWidget.astro";
import Banner from "@/components/sections/navbar&footer/Banner.astro";
import "aos/dist/aos.css";

// Setting expected props
const {
  title = SITE.title,
  meta,
  structuredData,
  lang = "en",
  customDescription = null,
  customOgTitle = null,
} = Astro.props;

// Interface to type-check the properties
interface Props {
  title?: string;
  meta?: string;
  structuredData?: object;
  lang?: string;
  customDescription?: string | null;
  customOgTitle?: string | null;
}
---

<html lang={lang} class="scrollbar-hide scroll-pt-16 scroll-smooth">
  <head>
    {/* Adding metadata to the HTML document */}
    <Meta
      meta={meta}
      structuredData={structuredData}
      customDescription={customDescription}
      customOgTitle={customOgTitle}
    />

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-6DWLY484X9"
    ></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-6DWLY484X9");
    </script>

    <!-- Google Tag Manager -->
    <script is:inline>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-TPZNMTN3");
    </script>
    <!-- End Google Tag Manager -->

    {/* Define the title of the page */}
    <title>{title}</title>
    <script is:inline>
      // Script to handle dark mode. It will check if the theme is stored in localStorage or if dark theme is preferred by system settings
      if (
        localStorage.getItem("hs_theme") === "dark" ||
        (!("hs_theme" in localStorage) &&
          window.matchMedia("(prefers-color-scheme: dark)").matches)
      ) {
        document.documentElement.classList.add("dark");
      } else {
        document.documentElement.classList.remove("dark");
      }
    </script>
  </head>
  <body
    class="selection:bg-picton-blue-400 overflow-x-hidden bg-neutral-200 selection:text-neutral-700 dark:bg-neutral-800"
  >
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-TPZNMTN3"
        height="0"
        width="0"
        style="display:none;visibility:hidden"></iframe></noscript
    >
    <!-- <Banner /> -->
    <div class="mx-auto max-w-(--breakpoint-2xl) px-4 sm:px-6 lg:px-8">
      <Navbar />
      <main>
        <slot />
      </main>
    </div>
    <FooterSection />
    <script>
      import "preline/preline.js";
    </script>
    <script>
      import AOS from "aos";
      AOS.init();
    </script>
    <ChatWidget />
  </body>
</html>
