---
// Import the necessary dependencies
import FooterSocialLink from "@components/ui/links/FooterSocialLink.astro";
import EmailFooterInput from "@components/ui/forms/input/EmailFooterInput.astro";
import enStrings from "@utils/navigation.ts";
import frStrings from "@utils/fr/navigation.ts";
import Icon from "@components/ui/icons/Icon.astro";
import BrandLogo from "@components/BrandLogo.astro";
import { SITE } from "@data/constants";
import Image from "astro/components/Image.astro";
import imgRRM from "../../../assets/images/RRM-R-symbol-474.webp";
import { contactData } from "@data/constants.ts";

// Select the correct translation based on the page's lang prop:
// const strings = Astro.currentLocale === "fr" ? frStrings : enStrings;
const strings = enStrings;

// Define the variables that will be used in this component
const sectionThreeTitle: string =
  Astro.currentLocale === "fr" ? "Rester à jour" : "Stay up to date";
const sectionThreeContent: string =
  Astro.currentLocale === "fr"
    ? "Restez informé des derniers outils et des offres exclusives."
    : "Stay updated with the latest tools and exclusive deals.";
const crafted: string =
  Astro.currentLocale === "fr" ? "Fabriqué par" : "Crafted by";
---

<footer class="w-full bg-neutral-300 dark:bg-neutral-900">
  <div
    class="mx-auto w-full max-w-[85rem] px-4 py-10 sm:px-6 lg:px-16 lg:pt-20 2xl:max-w-(--breakpoint-2xl)"
  >
    <div class="grid grid-cols-2 gap-6 md:grid-cols-4 lg:grid-cols-6">
      <div class="col-span-full flex flex-col items-start lg:col-span-2">
        <!-- Brand Logo -->
        <BrandLogo class="h-auto w-32" />
        <p
          class="py-2 text-left text-sm text-neutral-600 dark:text-neutral-400"
        >
          Blue Skies Above is a flight school based at Lanett Regional Airport
          (7A3), offering training for private, commercial, and CFI
          certifications. With experienced instructors and a student-focused
          approach, we help future pilots launch their aviation careers with
          confidence. Book a Discovery Flight or visit our facility to see how
          we can help you take off.
        </p>
        <span
          class="flex items-center justify-center gap-1 py-1 text-center text-sm text-neutral-500"
        >
          <a
            href="/privacy-policy-terms-of-service"
            target="_blank"
            class="hover:text-picton-blue-400 hover:underline"
            >Privacy Policy
          </a> • <a
            href="/privacy-policy-terms-of-service#terms-of-service"
            target="_blank"
            class="hover:text-picton-blue-400 hover:underline"
            >Terms of Service</a
          >
        </span>
      </div>
      <!-- An array of links for Product and Company sections -->
      {
        strings.footerLinks.map((section) => (
          <div class="col-span-1">
            <h3 class="font-bold text-neutral-800 dark:text-neutral-200">
              {section.section}
            </h3>
            <ul class="mt-3 grid space-y-3">
              {section.links.map((link, index) => (
                <li>
                  <a
                    href={link.link}
                    class="inline-flex gap-x-2 rounded-lg text-neutral-600 ring-zinc-500 outline-hidden transition duration-300 hover:text-neutral-500 focus-visible:ring-3 dark:text-neutral-400 dark:ring-zinc-200 dark:hover:text-neutral-300 dark:focus:outline-hidden"
                  >
                    {link.name}
                  </a>
                  {section.section === "Company" && index === 2 ? (
                    <span class="bg-picton-blue-500 ms-1 inline rounded-lg px-2 py-1 text-xs font-bold text-neutral-50">
                      We're hiring!
                    </span>
                  ) : null}
                </li>
              ))}
            </ul>
          </div>
        ))
      }

      <!--  Subscribe -->
      <div class="">
        <h3 class="font-bold text-neutral-800 dark:text-neutral-200">
          Contact Us
        </h3>

        <ul
          class="mt-3 flex flex-col gap-4 text-neutral-600 dark:text-neutral-400"
        >
          <li class="group flex items-center gap-2">
            <svg
              class="text-picton-blue-500 size-4 duration-200 group-hover:brightness-110"
              viewBox="0 0 24 24"
              ><path
                fill="currentColor"
                d="M6.62 10.79c1.44 2.83 3.76 5.14 6.59 6.59l2.2-2.2c.27-.27.67-.36 1.02-.24c1.12.37 2.33.57 3.57.57c.55 0 1 .45 1 1V20c0 .55-.45 1-1 1c-9.39 0-17-7.61-17-17c0-.55.45-1 1-1h3.5c.55 0 1 .45 1 1c0 1.25.2 2.45.57 3.57c.11.35.03.74-.25 1.02z"
              ></path></svg
            >
            <a
              class="duration-200 group-hover:brightness-110"
              href=`tel:${contactData.phone}`>{contactData.phone}</a
            >
          </li>
          <li class="group flex max-w-sm gap-2">
            <svg
              class="text-picton-blue-500 mt-1 size-4 flex-shrink-0 duration-200 group-hover:brightness-110"
              viewBox="0 0 24 24"
              ><path
                fill="currentColor"
                d="M12 11.5A2.5 2.5 0 0 1 9.5 9A2.5 2.5 0 0 1 12 6.5A2.5 2.5 0 0 1 14.5 9a2.5 2.5 0 0 1-2.5 2.5M12 2a7 7 0 0 0-7 7c0 5.25 7 13 7 13s7-7.75 7-13a7 7 0 0 0-7-7"
              ></path></svg
            >
            <a
              class="duration-200 group-hover:brightness-110"
              href={contactData.googleMap}
              target="_blank"
            >
              <span>Lanett Regional Airport 7A3</span>
              <p>{contactData.addressLine1}</p>
              <p>{contactData.addressLine2}</p>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div
      class="mt-9 grid gap-y-2 text-sm sm:mt-12 sm:flex sm:items-center sm:justify-between sm:gap-y-0"
    >
      <div class="flex items-center justify-between">
        <p class="text-sm text-neutral-600 dark:text-neutral-400">
          © <span id="current-year"></span>
          {SITE.title}. All rights reserved.
        </p>
      </div>

      <span
        class="text-accent-100 flex gap-2 text-center text-neutral-600 dark:text-neutral-400"
      >
        Powered by
        <a
          href="https://rightruddermarketing.com/"
          target="_blank"
          class="text-bold group hover:text-accent-100/70 flex gap-2 duration-200 hover:underline"
        >
          <Image
            src={imgRRM}
            alt=""
            class="h-4 w-auto drop-shadow-md duration-300 group-hover:scale-105 group-hover:brightness-125"
            draggable={"false"}
            loading={"lazy"}
            format={"avif"}
          />
          More Right Rudder</a
        >
      </span>

      <!-- Social Brands -->
      <div>
        <FooterSocialLink url={strings.socialLinks.facebook}
          ><Icon name="facebookFooter" />
        </FooterSocialLink>

        <FooterSocialLink url={strings.socialLinks.instagram}
          ><Icon name="instagramFooter" />
        </FooterSocialLink>

        <FooterSocialLink url={strings.socialLinks.x}
          ><Icon name="xFooter" /></FooterSocialLink
        >

        <FooterSocialLink url={strings.socialLinks.linkedin}
          ><Icon name="linkedinFooter" />
        </FooterSocialLink>
      </div>
    </div>

    <script>
      const year = new Date().getFullYear();
      const element = document.getElementById("current-year");
      element!.innerText = year.toString();
    </script>
  </div>
</footer>
